.todo-input {
  min-height: 2.5rem;
  width: 100%;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  background-color: #505050;
  caret-color: white;
  color: white;
}

.todo-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.todo-input:focus {
  outline: none;
}

.todo-add-button {
  color: white;
  width: 2.5rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.todo-input-form {
  display: flex;
  gap: 0.5rem;
}
